@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color1:#E8F7F2;
    --color2: #E2F8EC;
    --text-color:#53D690;
    --text-color2:#7273C1;
    --black-color:rgb(17, 17, 17);
    --font-size1: 20px;
    --font-size2:28px;
    --font-size3: 38px;
    --font-size4:14px;
    --font-size4:16px;
    --white-color1:#F7F1FD;
    --white-color2:rgba(255, 255, 255, 0.9);
    --black-color1:#363434e6;
}
body{
    overflow-x: hidden;
    font-family: 'poppins';
}

/* container 1 start */
.container1{
    position: relative;
    display: inline-block;
}
.container1 img{
    width: 100%;
    border-bottom-left-radius: 10%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.container1 .content{
    position: absolute;
    top: 30%;
    left: 5%;
    right: 40%;
    /* transform: translate(-50%,-50%); */
}
.container1 .content h1{
    font-size: var(--font-size3);
    letter-spacing: 1px;
    margin-bottom: 14px;
}
.container1 .content p{
    font-size: var(--font-size1);
}

.container2{
    padding: 4rem 5rem 2rem;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1.4rem;
}
.container2 .sec2{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}
.container2 .sec2 .box{
    display: flex;
    gap: 14px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    background: #fff;
    border-radius: 10px;
    padding: 16px 12px;

}
.container2 .sec2 .box .content h4{
    color: var(--text-color);
    font-size: var(--font-size1);
    letter-spacing: 1px;
    font-weight: 500;
}
.container2 .sec2 .box .content p{
    margin-top: 7px;
    font-size: 16px;
    color: var(--black-color1);
}
.container2 .sec2 .box img{
    width: 100px;
    color: var(--text-color);
}
.container2 h1{
    color: var(--text-color);
    font-size: var(--font-size3);
}
.container2 p{
    font-size: 16px;
    color: var(--black-color1);
    margin-top: 1rem;
}

/* container3 start */
.container3{
    padding: 1.4rem 5rem 1rem;
    background: var(--color2);
}
.container3 h2{
    color: var(--text-color);
    font-size: var(--font-size3);
    text-align: center;
    margin-bottom: 2.4rem;
}
.container3 .logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container3 .logo img{
    width: 200px;
}

.container4{
    position: relative;
    padding: 2rem 6rem 2rem 0;
    background-color: var(--text-color);
    margin-bottom: 10rem;
    display: grid;
    grid-template-columns: auto auto;
    gap: 4rem;
}
.container4 .sec{
    width: 500px;
    height: 500px;
    overflow: hidden;
    margin-bottom: -10rem;
    margin-left: -5rem;
    position: relative;
}
.container4 .sec #image{
   width: 100%;
   height: 100%;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    /* object-position: center; */
}
.container4 .section1{
     display: flex;
     flex-direction: column;
    gap: 16px;
}
.container4 .section1 h2{
    font-size: var(--font-size2);
    color: #fff;
}
.container4 .section1 p{
    font-size: 15px;
    color: var(--black-color1);
    margin: -6px 0 10px;
}
.container4 .section1 .cards{
    display: grid;
    grid-template-columns: auto auto;
    gap: 14px;
}
.container4 .section1 .feature{
    display: flex;
    /* flex-direction: column; */
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    gap: 10px;
    /* width: 300px; */
    align-items: end;
}
.container4 .section1 .feature img{
    width: 40px;
    padding: 6px;
    background: var(--color2);
    border-radius: 50%;
}
.container4 .section1 .feature p{
    font-size: var(--font-size4);
    color: var(--black-color1);
    font-weight: 500;
    letter-spacing: .40px;
}
@media screen and (max-width:1100px) {
    .container4 #image {
        width: 550px;
        height: 550px;
    }
}
@media screen and (max-width:1000px) {
    .container2{
        padding: 4rem 2rem;
    }
    .container3 {
        padding: 1.4rem 2rem 1rem;
    }
    .container4{
        gap: 1.4rem;
        padding: 2rem 3rem 2rem 2rem;
        grid-template-columns: auto;
        margin-bottom: 0;
    }
    .container4 .sec {
        margin-left: -6rem;
        margin-bottom: 0;
    }
}
@media screen and (max-width:850px) {
.container2{
    grid-template-columns: auto;
}
.container3 .logo img {
    width: 160px;
}
.container1 img {
    height: 80vh;
}
.container1 .content p {
    font-size: 15px;
}
.container1 .content h1 {
    font-size: 22px;
}
.container1 img{
    height: 50vh;
}
}
@media screen and (max-width:750px) {
.container3 .logo{
    flex-wrap: wrap;
    gap: 14px;
}
}
@media screen and (max-width:600px) {
.container4{
    padding: 2rem 1rem;
}
:root{
    --font-size1: 16px;
    --font-size2: 23px;
    --font-size3: 22px;
    --font-size4: 14px;
    --font-size4: 14px;
}
}
@media screen and (max-width:500px) {
    .container2 .sec2 .box img {
        width: 80px;
    }
    .container3 .logo{
        display: grid;
        grid-template-columns: auto auto;
    }
    .container3 .logo img {
        width: 140px;
    }
    .container4 .section1 .cards {
        display: grid;
        grid-template-columns: auto;
        gap: 10px;
    }
    .container4 .sec {
        width: 400px;
        height: 400px;
}
}
@media screen and (max-width:400px) {
.container2 .sec2 .box{
    flex-direction: column;
}

.container4 h2 {
    word-break: break-word;
}
}