@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color1: #E8F7F2;
    --color2: #E2F8EC;
    --text-color: #53D690;
    --text-color2: #7273C1;
    --black-color: rgb(17, 17, 17);
    --font-size1: 20px;
    --font-size2: 28px;
    --font-size3: 38px;
    --font-size4: 16px;
    --white-color1: #F7F1FD;
    --white-color2: rgba(255, 255, 255, 0.9);
    --black-color1: #363434e6;
}

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

.container1 {
    position: relative;
    display: inline-block;
    width: 100%;
    overflow-x: hidden;
}

.container1 img {
    display: block;
    width: 100%;
    border-bottom-left-radius: 10%;
}


.container1 .text-content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* color: #fff; */
    text-align: center;
}

.container1 .text-content h1 {
    font-size: var(--font-size3);
    letter-spacing: 1px;
    margin-bottom: 14px;
}

.container1 .text-content p {
    font-size: var(--font-size1);
}


.logos{
    overflow: hidden;
    padding: 30px 0 0;
    /* background: white; */
    white-space: nowrap;
    position: relative;
    display: flex;
    position: absolute;
    top: 50%;
}
.logos .logos-slide{
    display: flex;
    width: max-content;
    animation: 45s slide infinite linear;
}
.logos .logos-slide .card1{
    background: #fff;
    box-shadow: 6px 6px 10px #d8d7d783;
    padding: 20px 16px;
    margin: 10px 20px;
    display: flex;
    gap: 10px;
    border-radius: 8px;
    position: relative;
    width: max-content;
}
.logos .logos-slide .card1 .image{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    display: grid;
    place-items: center;
    object-position: center;
    margin: auto;
}
.logos .logos-slide .card1 .image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.logos .logos-slide .card1 .content{
    display: flex;
    justify-content: center;
    /* align-items: scenter; */
    flex-direction: column;
    gap: 2px;
    position: relative;
}
.logos .logos-slide .card1 .content .row{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}
.logos .logos-slide .card1 .content .name{
    color: var(--black-color1);
    font-size: 16px;
    font-weight: 400;
}
.logos .logos-slide .card1 .content .lpa{
    color: var(--black-color1);
    font-weight: 600;
    font-size: 16px;
    color: var(--text-color);
}
.logos .logos-slide .card1 .content .designation{
    color: var(--black-color1);
    font-size: 14px;
    font-weight: 400;
}
.logos .logos-slide .card1 .content a i{
    color: #fff;
    background: var(--text-color);
    padding: 6px;
    font-weight: 100;
    font-size: 14px;
    border-radius: 50%;
}
.logos .logos-slide .card1 .content .field{
    color: var(--black-color1);
    font-size: 13px;

}
.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 50px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.container2 {
    padding: 3rem 4rem;
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 1.4rem;
}

.container2 .card {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    border-radius: 6px;
}

.container2 .card:hover {
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.container2 .card img {
    width: 100%;
    height: 200px;
}

.container2 .card .info {
    /* margin: 10px 0; */
}

.container2 .card .info .field,
.container2 .card .info .collegeName {
    margin: 5px 0;
}

.container2 .card .content {
    position: absolute;
    bottom: -70%;
    left: 0;
    width: 100%;
    background-color: rgba(27, 27, 27, 0.6);
    color: #fff;
    padding: 20px;
    transition: bottom 0.3s ease;
}

.container2 .card:hover .content {
    bottom: 0;
}

.container2 .card h2 {
    font-size: var(--font-size1);
    margin-bottom: 10px;
}

.container2 .card .designation,
.container2 .card .lpa {
    font-size: var(--font-size4);
    margin: 5px 0;
}

.container2 .card a i {
    color: #fff;
    font-size: 20px;
    transition: color 0.3s ease;
}

.container2 .card a i:hover {
    color: #fff;
}
#container2{
    margin-bottom: 3rem;
}

@media screen and (max-width:1070px) {
    .container2{
        padding: 3rem 2rem;
    }
}
@media screen and (max-width:1010px) {
    .container2{
        grid-template-columns: auto auto auto;
    }
}
@media screen and (max-width:770px) {
    .container2{
        grid-template-columns: auto auto;
    }
    .container2 .card h2 {
        margin-bottom: 20px;
    }
    .container2 .card:hover h2{
        margin-bottom: 5px;
    }
}
@media screen and (max-width:850px) {
    .container1 img {
        height: 90vh;
    }
    }
@media screen and (max-width:600px) {
    .container2{
        grid-template-columns:  auto;
    }
    .container2 .card:hover .content {
        bottom: 0;
        top: 0;
    }
    .container1 .text-content{
        transform: none;
        left: 5%;
    }
    .logos .logos-slide .card1 {
        margin: 10px 6px;
        gap: 2px;
        padding: 14px 10px;
    }
}


.container3{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
    padding: 2rem 4rem;
}
.container3 .student-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    padding: 3rem 10px 3rem;
}
.container3 .student-card img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
}
.container3  .card{
    /* background: linear-gradient(to top left, var(--text-color),var(--color2)); */
    background: #53d690a7;
    text-align: center;
    padding: 18px 20px;
    border-radius: 4px;
    color: #fff;
    position: absolute;
    bottom: -140%;
    left: 0;
    width: 100%;
    transition: bottom 0.3s ease;   
} 
    .container3 .student-card:hover .card {
        bottom: 0;
    }
