.container8 {
    padding: 2.3rem 5rem 8rem 7rem;
  }
  .container8 .inner-sec {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5rem;
    padding-bottom: 2rem;
  }
  .container8 .inner-sec .sec-1 .row1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.4rem;
    padding: 10px 4.5rem 10px 10px;
    transition: all 0.2s;
    cursor: pointer;
  }
  .container8 .inner-sec .sec-1 .row1 i {
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    font-size: 16px;
  }
  .container8 .inner-sec .row1 .content {
    font-size: 15px;
    font-weight: 500;
    color: #000000;
  }
  .container8 .title {
    color: var(--black-color1);
    font-size: var(--titleSize);
    font-weight: 500;
    line-height: 45px;
    letter-spacing: -1.2px;
    padding: 0 2rem 30px 0;
  }
  .container8 .inner-sec .sec-2 .para {
    color: #000;
    font-size: 18px;
    line-height: 34px;
  }
  .container8 .inner-sec .sec-1 .row1:hover {
    background-color: #fff;
    border-radius: 14px;
    box-shadow: 0 4px 40px 0 rgba(1, 41, 112, 0.08);
  }
  .tab {
    display: none;
  }
  .tab.active {
    display: block;
  }
  .tab-button.active {
    box-shadow: 0 4px 40px 0 rgba(1, 41, 112, 0.08);
    background-color: #fff;
    border-radius: 14px;

  }
  .tab-button {
    cursor: pointer;
  }
  .tab-container {
    margin-bottom: 20px;
  }
