@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color1:#E8F7F2;
    --color2: #E2F8EC;
    --text-color:#53D690;
    --text-color2:#7273C1;
    --black-color:rgb(17, 17, 17);
    --font-size1: 20px;
    --font-size2:28px;
    --font-size3: 38px;
    --font-size4:14px;
    --font-size4:16px;
    --white-color1:#F7F1FD;
    --white-color2:rgba(255, 255, 255, 0.9);
    --black-color1:#363434e6;
}
body{
    overflow-x: hidden;
    font-family: 'poppins';
}

.container1{
    position: relative;
    background: linear-gradient(to top left, var(--text-color),var(--color2));
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 90vh; */
    padding: 2rem 4rem 2rem;
    gap: 2rem;
}
.container1 .sec1{
    padding-right: 5rem;
}
.container1 .sec1 h3{
    font-size: var(--font-size1);
    font-weight: 500;
}
.container1 .sec1 p{
    color: var(--black-color1);
    font-size: var(--font-size4);
}
.container1 .sec1 h1{
    font-size: var(--font-size2);
    font-weight: 600;
    margin: 8px 0;
}
.container1 .sec2 form{
    background: #fff;
    padding: 14px 18px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 4px;
}
.container1 .sec2 form input, .container1 .sec2 form select{
    padding: 8px;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 14px;
}
.container1 .sec2 form input::placeholder, .container1 .sec2 form select::placeholder,.container1 .sec2 form option{
    font-size: 14px;
    color: var(--black-color1);
}
.container1 .sec2 form input, .container1 .sec2 h2{
    letter-spacing: 1px;
    font-size: 14px;
    color: var(--black-color1);
}
.container1 .sec2 h2{
    letter-spacing: 1px;
    font-size: var(--font-size2);
}
.container1 .sec2 form .experience label{
    font-size: 13px;

}
.container1 .sec2 form #experience{
    font-size: var(--font-size1);
    color: var(--black-color1);
    margin: 15px 0;
}
.container1 .sec2 form button{
    width: auto;
    background: var(--text-color);
    padding: 8px;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
    margin: 10px 0;
    font-weight: 500;
    border: 2px solid var(--text-color);
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.container1 .sec2 form button:hover{
    color: var(--text-color);
    border: 2px solid var(--text-color);
    background: #fff;
}




.container2{
    display: grid;
    grid-template-columns: auto auto;
    gap: 3rem;
    padding: 2rem 4rem;
}
.container2 .title{
    display: flex;
    align-items: center;
}
.container2 .title p{
font-size: var(--font-size3);
letter-spacing: 1px;
font-weight: 600;
}
.slider {
    overflow: hidden;
    padding: 30px 0 0;
    background: white;
    white-space: nowrap;
    position: relative;
    display: flex;
}

.slider .slide-track .slide .card1{
    background: #fff;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.114);
    padding: 10px;
    margin: 10px 12px;
    display: flex;
    gap: 10px;
    border-radius: 8px;
}
.slider .slide-track  .card1 img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.slider .slide-track .card1 .content{
    display: flex;
    justify-content: center;
    /* align-items: scenter; */
    flex-direction: column;
    gap: 4px;
}
.slider .slide-track  .card1 .content .name{
    font-size: var(--black-color1);
    font-style: italic;
    font-size: var(--font-size4);
    font-weight: 500;
}
.slider .slide-track  .card1 .content .designation{
    font-size: var(--black-color1);
    font-size: var(--font-size1);
    font-weight: 600;
}
.slider .slide-track  .card1 .content a i{
    color: #fff;
    background: var(--text-color);
    padding: 10px;
    border-radius: 50%;
}
.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 50px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos-slide {
    display: flex;
    width: max-content;
    animation: 35s slide infinite linear;
}

.card1 {
    display: inline-block;
    margin: 0 40px;
}

.card1 img {
    width: 170px;
}

@keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 7));
    }
  }
  @keyframes scrollreverse {
    0% {
      transform: translateX(calc(-250px * 7));
    }
    100% {
      transform: translateX(0);
    }
  }

  .slider {
    background: white;
    height: 100px;
    margin: 0 2rem 0;
    overflow: hidden;
    position: relative;
    /* width: 960px; */
  }
  .slider::before, .slider::after{
    background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 80px;
    position: absolute;
    width: 100px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  .slider .slide{
    height: 100px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slider .slide img{
    width: 180px;
  }

@media screen and (max-width: 800px) {
    .card1 img {
        width: 150px;
        margin: 0 30px;
    }

    .logos:before {
        left: 0;
        background: none;
    }

    .logos:after {
        right: 0;
        background: none;
    }
}

@media screen and (max-width: 500px) {
    .card1 img {
        width: 90px;
        margin: 0 20px;
    }
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.container3{
    padding: 4rem;
}
.container3 #title{
    font-size: var(--font-size3);
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
}
.container3 .sec1{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-top: 2rem;
    gap: 1rem;
}
.container3 .sec1 .card{
    background: var(--color2);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    border-radius: 6px;
    padding: 20px;
}
.container3 .sec1 .card p{
    text-align: center;
} 
.container3 .sec1 .card i{
    background-color: var(--text-color);
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    font-size: var(--font-size1);
}

.container4{
    padding: 2rem 4rem;
    background-color: #fffdfd;
}
.container4 .title{
    color: #000;
    font-size: var(--font-size2);
    text-align: center;
    font-weight: 500;
    margin: 1rem 0 2rem;
}
.container4 .sec{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
}
.container4 .sec .card{
    background: #ffffff;
    box-shadow: 10px 4px 40px 0 rgba(0, 0, 0, 0.03);
    padding: 14px 12px;
    border-radius: 8px;
}
.container4 .sec .card i{
    font-size: var(--font-size2);
    color: var(--text-color);
}
.container4 .sec .card .title{
    font-size: var(--font-size1);
    font-weight: 500;
    margin: 6px 0 4px;
    text-align: left;
}
.container4 .sec .card .para{
    font-size: 13.80px;
    margin-top: 6px;
    color: var(--black-color1);
}


@media screen and (max-width:1000px) {
    .container2,.container3,.container4,.container1{
        padding: 2rem;
    }
    .container2 .title p {
        font-size: 30px;
    }
    .container3 .sec1 .card {
        padding: 14px;
    }
}
@media screen and (max-width:950px) {
.container3 .sec1{
    grid-template-columns: auto auto auto;
}
.container4 .sec{
    grid-template-columns: auto auto;
}
.container8{
    padding: 2rem;
}
.container1 .sec1 {
    padding-right: 10px;
}
}
@media screen and (max-width:840px) {
.container8 .inner-sec{
    gap: 2rem;
}
}
@media screen and (max-width: 750px) {
 .container8 .inner-sec,.container2 {
        grid-template-columns: auto;
    }
    .container2{
        gap: 1rem;
    }
    .container1{
        flex-direction: column;
    }
}
@media screen and (max-width: 670px) {
    .container3 .sec1 {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 550px) {
    .container4 .sec {
        grid-template-columns: auto;
    }
}
@media screen and (max-width: 450px) {
    .container3 .sec1 {
        grid-template-columns: auto;
    }
    .container1 .sec2 form{
        width: 380px;
    }
    .logos:before, .logos:after {
        width: 30px;
    }
}
@media screen and (max-width: 390px) {
    .container1 .sec2 form{
        width: 330px;
    }
}

