@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color1:#E8F7F2;
    --color2: #E2F8EC;
    --text-color:#53D690;
    --text-color2:#7273C1;
    --black-color:rgb(17, 17, 17);
    --font-size1: 20px;
    --font-size2:28px;
    --font-size3: 38px;
    --font-size4:14px;
    --font-size4:16px;
    --white-color1:#F7F1FD;
    --white-color2:rgba(255, 255, 255, 0.9);
    --black-color1:#363434e6;
}
body{
    overflow-x: hidden;
    font-family: 'poppins';
}

/* container 1 start */
.container1{
    position: relative;
    display: inline-block;
}
.container1 img{
    display: block;
    width: 100%;
    border-bottom-left-radius: 10%;
}
.container1 .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    text-align: center;
}
.container1 .content h1{
    font-size: var(--font-size3);
    letter-spacing: 1px;
    margin-bottom: 14px;
}
.container1 .content p{
    font-size: var(--font-size1);
}


/* container 2 */
.container2 {
   padding: 2rem 4rem;
   display: grid;
   grid-template-columns: auto auto;
   gap: 2rem;
}
.container2 .tab-header {
    display: flex;
}
.container2 .tab-header div {
    padding: 10px 20px;
    cursor: pointer;
    color: var(--text-color);
    border-bottom: 2px solid var(--color1);
    flex: 1;
    font-weight: 500;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}
.container2 .tab-header div:hover {
    background: linear-gradient(var(--color2),var(--color1),#fff);
}
.container2 .tab-header .active {
    background-color: #fff;
    border-top: 3px solid var(--text-color);
    background: linear-gradient(var(--color2),var(--color1),#fff);
    color: var(--text-color);
        border-bottom: none;
}
.tab-content {
    border-bottom: 2px solid var(--color2);
    border-right: 2px solid var(--color2);
    border-left: 2px solid var(--color2);
    padding: 20px;
    background: white;
    display: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#tab3 .logo{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
}
#tab3 .logo img{
    width: 100%;
}
.tab-content p{
    font-size: var(--font-size);
    color: var(--black-color1);
    margin-top: 14px;
}
.tab-content.active {
    display: block;
}

.container2 .sec2{
    background: #fff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    padding: 14px 14px 20px;
    border-radius: 10px;
    height: max-content;
}
.container2 .sec2 .course-info h2{
    background: linear-gradient(to right,var(--text-color),var(--text-color2)50%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: var(--font-size2);
    font-weight: 700;
    letter-spacing: 1px;
}
.container2 .sec2 .course-info .info{
    display: flex;
    flex-direction: column;
    margin-top: 1.4rem;
}
.container2 .sec2 .course-info .info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.container2 .sec2 .course-info .info .row{
    display: flex;
    gap: 8px;
    align-items: center;
}
.container2 .sec2 .course-info .info .row i{
    color: var(--text-color2);
    padding: 8px;
    background-color: var(--color2);
    border-radius: 50%;
}
.container2 .sec2 .course-info .info .row h5{
    font-size: var(--font-size4);
}
.container2 .sec2 .course-info .info .row p{
    color: var(--black-color1);
    font-size: 15px;
    font-weight: 500;
}
.container2 .sec2 .course-info h3{
    margin-top: 1rem;
    font-size: var(--font-size2);
    color: var(--black-color1);
    letter-spacing: .50px;
}
.container2 .sec2 .course-info button{
    width: 100%;
    margin-top: 1.8rem;
    background: linear-gradient(to right,var(--text-color),var(--text-color2));
    border: none;
    padding: 10px 0;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    font-size: var(--font-size4);
    cursor: pointer;
}

/* container 3 start */
.container3{
    display: flex;
    justify-content: space-around;
    gap: 3rem;
    padding: 2rem 5rem;
}
.container3 img{
    /* height: 500px; */
    /* width: 400px; */
}
.container3 .content h2{
    font-size: var(--font-size2);
    letter-spacing: 1.40px;
    font-weight: 600;
}
.container3 .content h2 span{
    color: var(--text-color2);

}
.container3 .content button{
    background: linear-gradient(to right,var(--text-color),var(--text-color2));
    border: none;
    padding: 10px 30px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    color: #fff;
    font-size: var(--font-size4);
    font-weight: 600;
    margin-top: 1.6rem;
}

/* Modal */
.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.457);
    width: 100%;
    overflow-y: auto;
    height: 100vh;
    z-index: 1000;
    
}   
.modal-position{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.modal-content{
    background-color: #E8F7F2;
    /* margin: auto; */
    padding: 28px 24px;
    width: max-content;
    border-radius: 20px;
}
.modal .modal-content span{
    float: right;
    font-size: var(--font-size1);
    margin-top: -18px;
    margin-right: -5px;
    color: var(--text-color2);
    cursor: pointer;
}
/* .modal .modal-content form{
    display: flex;
    gap: 12px;
    flex-direction: column;
    margin-top: 2rem;
} */
.modal .modal-content h3{
    background: linear-gradient(to right,var(--text-color),var(--text-color2));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: var(--font-size1);
    font-weight: 600;
    margin-top: 15px;
}
/* .modal .modal-content form input{
    background: #fff;
    border: none;
    padding: 12px 0 12px 10px;
    border-radius: 4px;
}
form input.has-content {
    border: none; 
} */
.modal .modal-content form input::placeholder{
    font-size: 14px;
    color: var(--black-color1); 
    font-weight: 500;
}
/* .modal .modal-content form button{
    background: linear-gradient(to right,var(--text-color),var(--text-color2));
    border: none;
    padding: 10px 0;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    font-size: var(--font-size4);
    font-weight: 600;
    margin-top: 1.6rem;
} */

.modal .modal-content form{
    /* background: #fff; */
    padding: 14px 18px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 4px;
}
.modal .modal-content form input, .container1 .sec2 form select{
    padding: 8px;
    border: 1px solid black;
    border-radius: 2px;
    font-size: 14px;
}
.modal .modal-content form input::placeholder, .container1 .sec2 form select::placeholder,.container1 .sec2 form option{
    font-size: 14px;
    color: var(--black-color1);
}
.modal .modal-content form input, .container1 .sec2 h2{
    letter-spacing: 1px;
    font-size: 14px;
    color: var(--black-color1);
}
.modal .modal-content h2{
    letter-spacing: 1px;
    font-size: var(--font-size2);
}
.modal .modal-content form .experience label{
    font-size: 13px;

}
.modal .modal-content form #experience{
    font-size: var(--font-size1);
    color: var(--black-color1);
    margin: 15px 0;
}
.modal .modal-content form button{
    width: auto;
    background: var(--text-color);
    padding: 8px;
    border-radius: 20px;
    color: #fff;
    font-size: 20px;
    margin: 10px 0;
    font-weight: 500;
    border: 2px solid var(--text-color);
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.modal .modal-content form button:hover{
    color: var(--text-color);
    border: 2px solid var(--text-color);
    background: #fff;
}

@media screen and (max-width:1050px) {
    .container2,.container3{
        padding: 2rem;
    }
}
@media screen and (max-width:900px) {
    .container2{
        grid-template-columns: auto;
    }
    .container3{
        flex-direction: column;
    }
    }
    @media screen and (max-width:850px) {
        .container1 img {
            height: 80vh;
        }
        }

    @media screen and (max-width:500px) {
        .container2 .tab-header div {
            font-size: 12px;
            padding: 10px 15px;
        }
        .container2{
            padding: 2rem 1rem;
        }
    }