*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
:root{
    --color1:#E8F7F2;
    --color2: #E2F8EC;
    --text-color:#53D690;
    --black-color:rgb(17, 17, 17);
    --font-size1: 20px;
    --font-size2:28px;
    --font-size3: 38px;
    --font-size4:14px;
    --font-size4:16px;
    --white-color1:#F7F1FD;
    --white-color2:rgba(255, 255, 255, 0.9);
    --black-color1:#363434e6;
}

nav {
    position: sticky;
    top: 0;
    z-index: 10000;
    width: 100%;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
}

nav .wrapper-nav {
    position: relative;
    max-width: 1300px;
    padding: 0 8rem 0 4rem;
    height: 70px;
    line-height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .wrapper-nav .logo a {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    gap: 15px;
} */
.wrapper-nav .logo a img{
    width: 106px;
    display: flex;
}

.wrapper-nav .nav-links {
    display: inline-flex;
    margin-bottom: 0 !important;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    color: var(--black-color);
    text-decoration: none;
    font-size: 12px;
    font-weight: 450;
    padding: 10px 12px;
    transition: all 0.3s ease;
    font-family: 'poppins';
    text-transform: uppercase;
}
.nav-links li a button{
    background: var(--text-color);
    border: none;
    padding: 10px;
    border-radius: 20px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .90px;
    cursor: pointer;
    transition: all .3s ease-in;
}
.nav-links li a button:hover{
    border: 2px solid var(--text-color);
            background: #fff;
            color: var(--text-color);
}
.nav-links li a:hover {
    color: var(--text-color);
}

.nav-links .mobile-item {
    display: none;
}

.nav-links .drop-menu {
    position: absolute;
    background: #fff;
    width: 280px;
    line-height: 45px;
    top: 85px;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box {
    transition: all 0.3s ease;
    top: 70px;
    opacity: 1;
    visibility: visible;
}

.drop-menu li a {
    width: 100%;
    display: block;
    padding: 0 0 0 20px;
    font-weight: 400;
    border-radius: 0px;
}

.content .row header {
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
}

.content .row .mega-links {
    margin-left: -40px;
    border-left: 1px solid rgba(255,255,255,0.09);
}

.row .mega-links li {
    padding: 0 20px;
}

.row .mega-links li a {
    padding: 0px;
    padding: 0 20px;
    color: #d9d9d9;
    font-size: 17px;
    display: block;
}

.row .mega-links li a:hover {
    color: #f2f2f2;
}

.wrapper-nav .btn {
    color: var(--color1);
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.wrapper-nav .btn.close-btn {
    position: absolute;
    right: 30px;
    top: 10px;
}

@media screen and (max-width: 970px) {
    .wrapper-nav .btn {
        display: block;
    }

    nav .wrapper-nav {
        padding: 0 2rem;
    }

    .wrapper-nav .nav-links {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 350px;
        top: 0;
        left: -100%;
        background: #fff;
        display: block;
        padding: 50px 10px;
        line-height: 50px;
        overflow-y: auto;
        box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
        transition: all 0.3s ease;
    }

    /* custom scroll bar */
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background: #242526;
    }
    ::-webkit-scrollbar-thumb {
        background: var(--color1);
    }

    #menu-btn:checked ~ .nav-links {
        left: 0%;
    }
    #menu-btn:checked ~ .btn.menu-btn {
        display: none;
    }
    #close-btn:checked ~ .btn.menu-btn {
        display: block;
    }

    .nav-links li {
        margin: 15px 10px;
    }

    .nav-links li a {
        padding: 0 20px;
        display: block;
        font-size: 20px;
        text-transform: uppercase;
    }

    .nav-links .drop-menu {
        position: static;
        opacity: 1;
        top: 65px;
        visibility: visible;
        padding-left: 20px;
        width: 100%;
        max-height: 0px;
        overflow: hidden;
        box-shadow: none;
        transition: all 0.3s ease;
    }

    #showDrop:checked ~ .drop-menu,
    #showMega:checked ~ .mega-box,
    #showServicesDrop:checked ~ .drop-menu,
    #showTrainingDrop:checked ~ .drop-menu {
        max-height: 100%;
    }

    .nav-links .desktop-item {
        display: none;
    }

    .nav-links .mobile-item {
        display: block;
        color: var(--black-color);
        font-size: 20px;
        font-weight: 499;
        padding-left: 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

    .nav-links .mobile-item:hover {
        background: var(--color1);
    }

    .drop-menu li {
        margin: 0;
    }

    .drop-menu li a {
        border-radius: 5px;
        font-size: 18px;
        text-transform: uppercase;
    }

    .mega-box {
        position: static;
        top: 65px;
        opacity: 1;
        visibility: visible;
        padding: 0 20px;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.3s ease;
    }

    .mega-box .content {
        box-shadow: none;
        flex-direction: column;
        padding: 20px 20px 0 20px;
    }

    .mega-box .content .row {
        width: 100%;
        margin-bottom: 15px;
        border-top: 1px solid rgba(255,255,255,0.08);
    }

    .mega-box .content .row:nth-child(1),
    .mega-box .content .row:nth-child(2) {
        border-top: 0px;
    }

    .content .row .mega-links {
        border-left: 0px;
        padding-left: 15px;
    }

    .row .mega-links li {
        margin: 0;
    }

    .content .row header {
        font-size: 19px;
    }
}

nav input {
    display: none;
}

footer{
    background-color: var(--black-color);
    display: grid;
    grid-template-columns: auto;
}
footer .section1{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
footer .section1 .google-review p{
    margin: 2rem 0 0 2rem;
    font-size: var(--font-size2);
    color: #fff;
    font-weight: 500;
    line-height: 30px;
}
footer .section1 .google-review button{
    background: var(--text-color);
    border: none;
    padding: 10px 30px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    color: #fff;
    font-size: var(--font-size4);
    font-weight: 600;
    margin: 1rem 0 0 2rem;
}
footer .content{
    width: 60%;
    background-color: var(--color2);
    padding: 1.4rem 2rem 1rem 4rem;
    border-bottom-right-radius: 80px;
    color: var(--black-color);
}
footer .content .sec{
   display: flex;
   gap: 3.4rem;
   align-items: flex-start;
}
footer .content .sec .sec-logo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer .content .sec img{
    width: 180px;
}
footer .content .sec p{
    font-size: var(--font-size1);
    font-weight: 600;
    margin-bottom: 10px;
}
footer .content .sec .row2{
    display: flex;
    gap: 1rem;
    margin-top: 15px;
}
footer .content .sec .row2 i{
    font-size: 24px;
}
footer .content .sec .row{
    font-size: var(--font-size4);
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 4px;
    display: flex;
    gap: 10px;
    align-items: baseline;
}
footer .links{
    padding: 1rem 2rem 1rem 3rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1.6rem;
    position: relative;
    margin-top: 1rem;
}
footer .links .col p{
    color: #fff;
    font-weight: 600;
    font-size: var(--font-size1);
    letter-spacing: 1px;
}

footer .links .col ul{
    list-style-type: none;
    padding-left: 10px;
    margin-top: 1rem;
}
footer .links .col ul li,footer .links col ul li a{
    margin-bottom: 10px;
}
footer .links .col ul li a,footer .links .col ul li p{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    letter-spacing: .60px;
    font-weight: 400;
}
footer .links .col .location li a{
    display: flex;
    gap: 10px;
}

@media screen and (max-width:1130px) {
footer .content{
    padding: 1.2rem;
}
footer .section1{
    gap: 10px;
}
}
@media screen and (max-width:1020px) {
    footer .links{
        grid-template-columns: auto auto;
    }
    footer .section1{
        flex-direction: column;
    }
}